
<aside>
	<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "mountains") %>
</aside>
<section>
	<div>
		<h4><%= @user.first_name %> <%= @user.last_name %></h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="form-box clearfix">
				<div id="events-container" class="col s6">
					<button class="btn" id="new-event-button"><%= link_to 'New Entry', '/users/' + current_user.user_name + '/events/new'%></button>
					<h3>Your Entries</h3>
					<%= paginate @events, id: "paginate-navbar" %>
	        <ul>
	          <% for event in @events %>
	            <li id="event-lists">
	              <p>
	                <%= link_to event.created_at.strftime("%b. %d, %Y"), '/users/' + @user.user_name + '/events/' + event.id.to_s %><br>
									Triggering Event: <%= truncate(event.trigger) %><br>
									Behavior: <%= truncate(event.behavior) %>
								</p>
	            </li>
	            <hr>
	          <% end %>
	        </ul>
	      </div>
			</div>
		</div>
	</div>
</section>
