
<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>

<section>

		<h4><%= @user.first_name %> <%= @user.last_name %></h4>
		<div class="row">
			<div class="form-box clearfix">
				<div id="events-container" class="col s6">
					<% if @user.id != current_user.id %>
						<button class="btn" id="new-event-button"><%= link_to 'New Entry', '/users/' + current_user.user_name + '/events/new'%></button>
					<% end %>

					<h3>Your Entries</h3>
					<div id="nav"><%= paginate @events, id: "paginate-navbar" %></div>
	        <ul>
	          <% for event in @events %>
	            <li id="event-lists">
	              <p>
	                <%= link_to event.created_at.strftime("%b. %d, %Y"), '/users/' + @user.user_name + '/events/' + event.id.to_s %><br>
									Triggering Event: <%= truncate(event.trigger) %><br>
									Behavior: <%= truncate(event.behavior) %>
								</p>
	            </li>
	            <hr>
	          <% end %>
	        </ul>
	      </div>
				<div class="col s6" id="#prof-container">
					<% if !@user.professional && !@user.is_prof %>
					<p>You aren't assigned to a professional yet. You may choose one from the list below</p>
						<%= select("professional", "user_id", @profs.collect {|pro| [ pro.first_name + " " + pro.last_name, pro.id ] }, {  :prompt => "Choose a professional"}) %>
						<button type="button" class="btn", method="PATCH">Choose</button>
					<% elsif !@user.is_prof %>
						<h5> Your professional is <%= User.find_by_id(@user.professional_id).first_name + " " + User.find_by_id(@user.professional_id).last_name %> </h5>
					<% end %>
				</div>
				<%= render partial: "admin_show" if @user.is_prof? %>
			</div>
		</div>
</section>
