
<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>

<section>

		<div class="row">
			<div class="form-box clearfix">
				<div id="events-container" class="col s6">

					<button class="btn" id="new-event-button"><%= link_to 'New Entry', '/users/' + current_user.user_name + '/events/new'%></button>


					<h3>Your Entries</h3>
					<div id="nav"><%= paginate @events, id: "paginate-navbar" %></div>
	        <ul>
	          <% for event in @events %>
	            <li id="event-lists">
	              <p>
	                <%= link_to event.created_at.strftime("%b. %d, %Y"), '/users/' + @user.user_name + '/events/' + event.id.to_s %><br>
									Triggering Event: <%= truncate(event.trigger) %><br>
									Behavior: <%= truncate(event.behavior) %>
								</p>
	            </li>
	            <hr>
	          <% end %>
	        </ul>
	      </div>

						<% if !@user.professional %>
						<div class="col s6" id="#prof-container">
								<%= select("professional", "user_id", @profs.collect {|pro| [ pro.first_name + " " + pro.last_name, pro.id ] }, {  :prompt => "Choose a proffessional"}) %>
							</div>
						<% end %>
						<%= render partial: "admin_show" if @user.is_prof? %>

			</div>
		</div>
</section>
