<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>
<section>
<div class="container">
	<div class="row">
		<div class="form-box hidden" id="welcome-sign-in-box">
			<%= simple_form_for @user,  url: '/sessions' do |f| %>
			  <%= f.input :user_name, :as => :string %>
			  <%= f.input :password %>
			  <%= f.button :submit, 'Sign In' %>
			<% end %>
		</div>
		<div class="welcome-box form-box animated fadeIn" id="welcome-home-box">
			<h3 class="centered">Simplify Your Recovery.</h3>
			<h4>A step-by-step tool based on techniques clinically-proven to aid patients suffering from eating disorders and other mental health disorders.</h4>
			<div id="splash-button-nav">
				<button class="btn spaced-btn centered" id="welcome-get-info-button"><%= link_to 'About', '/about' %></button><button class="btn spaced-btn centered" id="welcome-get-started-button"><%= link_to 'For Patients', '/users/new' %></button><button class="btn spaced-btn centered" id="prof-sign-in-button"><%= link_to 'For Professionals', '/users/new?professionals' %></button>
			</div>
		</div>
	</div>
</div>
</section>
