<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>
<section>
<div class="container">
	<div class="row">
		<div class="form-box hidden" id="welcom-sign-in-box">
			<%= simple_form_for @user,  url: '/sessions' do |f| %>
			  <%= f.input :user_name, :as => :string %>
			  <%= f.input :password %>
			  <%= f.button :submit, 'Sign In'%>
			<% end %>
		</div>
		<div class="welcome-box form-box" id="welcome-home-box">
			<h1 class="centered">Welcome Home.</h1>
			<button class="btn centered" id="welcome-sign-in-button"> Sign In </button>
		</div>
	</div>
</div>
</section>