<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>
<section>
<div class="container">
	<div class="row">
		<div class="form-box hidden" id="welcome-sign-in-box">
			<%= simple_form_for @user,  url: '/sessions' do |f| %>
			  <%= f.input :user_name, :as => :string %>
			  <%= f.input :password %>
			  <%= f.button :submit, 'Sign In' %>
			<% end %>
		</div>
		<div class="welcome-box form-box animated fadeIn" id="welcome-home-box">
			<h1 class="centered">We're here to help.</h1>
			<button class="btn spaced-btn" id="welcome-get-info-button">Learn More</button><button class="btn spaced-btn" id="welcome-get-started-button">Get Started</button><button class="btn spaced-btn centered" id="welcome-sign-in-button"> Sign In </button>
		</div>
	</div>
</div>
</section>
