<%= simple_form_for @event, url: create_event_path, as: 'user_event' do |f| %>

  <div class='form_one'>
    <%= f.input :behavior, label: 'What did you do? What was the behavior?' %>
    <%= f.input :trigger, label: 'What happened right before? What may have been the trigger?' %>
  </div>
  <div class='form_two'>
    <%= f.input :before_notes, placeholder: 'More (optional)' %><br>
    <%= f.input :after_notes, placeholder: '(optional)' %>
  </div>
  <div class='form_three'>
    <%= f.input :helpful, label: 'How did the behavior help you?' %>
    <%= f.input :hurtful, label: 'How did the behavior hurt you?' %>
  </div>
  <div class='form_four'>
    <%= f.input :reflection, label: 'What could you have done differently?' %>
    <%= f.input :victory, label: 'What are you proud of?' %>
  </div>

  <%= f.button :submit %>

<% end %>
