<!DOCTYPE html>
<html>
  <head>
    <title>Formopoly</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font family -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  </head>

  <body>

    <nav class="top-nav" id="navbar">
      <div class="nav-wrapper">
        <% if current_user %>
        <%= link_to "Formopoly", user_path(current_user.user_name), class: "brand-logo" %>
        <% else %>
          <%= link_to "Formopoly", root_path, class: "brand-logo" %>
          <% end %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user.user_name)%></li>

            <li><%= link_to "Log Out", logout_path, class:"last-nav" %></li>
          <% else %>
            <li><%= link_to "Create Account", new_user_path %></li>
            <li><%= link_to "Log In", login_path, class:"last-nav" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |_key, msg| %>
      <% if msg.kind_of?(Array) %>
        <% iterator = 0 %>
        <% msg.each do |text| %>
          <script type="text/javascript">
            Materialize.toast('<%= text %>', 4000)
          </script>
            <% iterator += 1 %>
          <% end %>
      <% else %>
        <script type="text/javascript">
          Materialize.toast('<%= msg %>', 4000)
        </script>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
